:root {
    --s: #4563f7;
    --grisoscuro: #060301;
    --gris-claro: rgb(151, 150, 150);
    --naranja: #ff4000;
    --naranja-oscuro: #ff1702;
    --celeste-claro: #0066ff;
    --celeste-oscuro: #0306b3;
    --celeste-more: #1c1fc4;
    --blanco-hueso: #f0f0f0;
    --azul: rgb(1, 1, 8);
}

main {
    margin-top: 40px;
}

.banner-contact {
    padding: 10px 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-contact h1 {
    opacity: 0;
}

.banner-contact h2 {
    margin-top: 4px;
    font-size: 0.95em;
    opacity: 0;
}

.banner-contact h2 span {
    font-weight: 700;
}

.division {
    width: 85% !important;
}

.division .icon {
    background: #fff !important;
}

.banner-contact p {
    font-size: 0.6em;
    font-weight: 800;
    background: rgb(235, 227, 227);
    text-align: center;
    width: auto;
    padding: 5px 15px;
    border-radius: 50px;
    opacity: 0;
}

.contact {
    background: #fff;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.contact-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form img {
    width: 90%;
    margin: auto;
    object-fit: cover;
    max-width: 350px;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.411));
}

form {
    width: 90%;
    margin: auto;
    max-width: 1250px;
    margin-bottom: 0px;
    overflow: hidden;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 500 !important;
    position: relative;
    opacity: 0;
}

form .contact-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible !important;
}

.form-group-input {
    position: relative;
    margin-top: 45px;
    height: 35px;
}

.form-select {
    position: relative;
    margin: 20px 0;
}

.form-select label {
    position: absolute;
    top: -33px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none;
}

form select {
    margin-top: 25px;
    background: rgb(255, 255, 255);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.123);
    border: none;
    border-bottom: 2px solid var(--celeste-claro);
    padding-top: 10px;
    padding-bottom: 4px;
    padding-right: 5px;
    padding-left: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    outline: none;
}

form select option {
    background: rgb(255, 255, 255);
    margin-top: 5px;
    border: 0px;
    outline: none;
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;
}

.form-group-input input {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.055);
    transition: 0.3s ease;
}

.form-group-input label,
.form-text label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none;
    border-bottom: 1px solid rgba(151, 150, 150, 0.609);
}

.form-group-input label::after,
.form-text label::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid var(--celeste-claro);
    transform: translateX(-101%);
    transition: 0.3s ease;
}

.content-input {
    position: absolute;
    top: -20px;
    left: 5px;
    transition: 0.3s ease;
    font-weight: 600;
}

#label-select .content-input {
    top: 38px;
}

form input:focus+label::after,
form input:valid+label::after,
form textarea:focus+label::after,
form textarea:valid+label::after {
    transform: translateX(0%);
}

form input:focus,
form textarea:focus {
    background: rgb(235, 227, 227);
}

.form-text {
    width: 100%;
    height: 200px;
    position: relative;
    margin-top: 45px;
}

.form-text label span {
    position: absolute;
    top: -20px;
    font-weight: 600;
}

.form-text textarea {
    resize: none;
    border: none;
    outline: none;
    text-align: left;
    padding: 10px;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.123);
    transition: 0.3s ease;
}

.form-submit a {
    color: var(--celeste-claro);
}

.form-check a {
    color: var(--celeste-claro);
}

.form-submit {
    width: 100%;
    margin-top: 10px;
}

.form-submit input {
    width: 130px;
    height: 40px;
    color: var(--blanco-hueso);
    background: linear-gradient(45deg, var(--celeste-oscuro), var(--celeste-claro));
    border-radius: 5px;
    font-weight: 700;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.575);
    border: none;
    outline: none;
    box-shadow: 4px 10px 30px 6px rgba(0, 0, 0, 0.116);
    transition: 0.3s ease;
    margin: 0;
    cursor: pointer;
}

.form-submit input {
    transform: scale(0.90);
}

.form-submit .icon {
    margin-right: 5px;
}

.form-error,
.error-submit {
    color: rgb(131, 124, 124);
    /* color: var(--blanco-hueso); */
    text-align: left;
    font-size: 0.7em;
    display: flex;
    align-items: center;
    justify-content: start;
    display: none;
    position: relative;
}

.error-active label::after {
    border-bottom: 2px solid var(--naranja-oscuro);
    transform: translateX(0);
}

.error-active input,
.error-active textarea {
    background: rgb(199, 190, 190);
}

.form-text .form-error {
    margin-bottom: 20px !important;
}

.form-error .icon {
    border-radius: 50%;
    padding: 3px;
    color: var(--blanco-hueso);
    background: rgb(209, 43, 21);
    width: 17px;
    height: 17px;
    margin-right: 4px;
}

.form-submit input:focus {
    background: linear-gradient(45deg, var(--celeste-oscuro), var(--celeste-claro));
}

.msg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.msg-phone p {
    width: 100%;
}

.msg-phone span:first-child,
.msg-chat span:first-child {
    display: block;
    font-weight: 500;
    font-size: 1.1em;
    padding-bottom: 5px;
}

.msg-chat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    border-top: 1px solid rgb(212, 205, 205);
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.msg-phone a {
    color: var(--grisoscuro);
    text-decoration-color: var(--naranja-oscuro);
    font-size: 1.35em;
}

.msg-phone a .icon {
    color: var(--naranja-oscuro);
    margin-right: 4px;
}

.msg-card {
    width: 100%;
    margin: auto;
    margin: 10px auto;
    height: 60px;
    border-radius: 50px;
    box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.12);
    transition: 0.1s ease;
    background: #fff;
    max-width: 400px;
    opacity: 0;
}

.msg-card:active {
    transform: scale(0.95);
}

.msg-card a {
    font-weight: 600;
    font-size: 1.2em;
    display: inline-block;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg-card a .icon {
    margin-right: 4px;
}

.msg-card:nth-child(2) a {
    color: var(--celeste-claro);
}

.msg-card:nth-child(3) a {
    color: var(--celeste-oscuro);
}

.msg-card:nth-child(4) a {
    color: rgb(13, 165, 25);
}

.contact-media {
    padding: 30px 0;
    background: #fff;
    width: 100%;
    padding-bottom: 70px;
    margin-bottom: -30px;
}

.media-card {
    height: 200px;
    width: 90%;
    border-radius: 10px;
    margin: 30px auto;
    box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.12);
}